.main-container {
  background-color: yellow;
  padding: 30px;
}


.header-box {
  background-color: blue;
  height: 100px;
  border: 1px solid black;
}

.nav-box {
  background-color: green;
  height: 40px;
  border: 1px solid black;
}

.content-box {
  height: 200px;
  background-color: red;
  border: 1px solid black;
}

.aside-box {
  height: 200px;
  background-color: cyan;
  border: 1px solid black;
}

.promo-box {
  height: 100px;
  background-color: orange;
  border: 1px solid black;
}

.footer-box {
  height: 40px;
  background-color: black;
  color: white;
}



/* Media Queries*/

@media only screen and (min-width: 768px) {

  .content-box {
    background-color: #000;
  }

  .aside-box {
    background-color: yellow;
  }

  .promo-box {
    background-color: cyan;
  }
}



@media only screen and (min-width: 375px) and (max-width: 767px) {

  .content-box {
    background-color: grey;
  }

  .aside-box {
    background-color: magenta;
  }

  .promo-box {
    background-color: blue;
  }

  }
}
